.main{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1cm;
}
.tag{
  padding-left: 2.2cm;
  font-size: 12px;
}

.or{
  font-size: 10px;
}



button{
  background-color: rgb(197, 193, 193);
  height: 30px;
  border-radius: 3px;
  width: 4cm;
}

h3{
  font-size: x-large;
}