.signin{
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}
#fname{
    height: 27px;
    border-radius: 4px;
    margin-top: 4px;
}
label{
    font-size: 10px;
}

.Email{
    padding-right: 20cm;
}